/** @format */

$primary_color: #2b7b85;
$secondary_color: #f08e8a;
$tertiary-color: #71838f;
$quaternary-color: #f5f8fa;

$border-color: rgba(0, 0, 0, 0.35);
$success_color: #2ecc71;
$error_color: #c15806;

$percentage1: 20%;
$percentage2: 10%;
$percentage3: 25%;
